<div class="col-md-4" id="content-container">
  <h3 class="title-spacing index-alignment" style="margin-bottom:30px;">EPISODES<span style="font-size:17px;letter-spacing:4px;">S-01</span></h3>

    <% @episodes.sort.each do |episode| %>
      <div class="index-alignment">
        <%= link_to image_tag(episode.image.url(:medium)), episode %>
      </div>
      <h3 class="index-alignment title-spacing">
        <%= episode.title %>
      </h3>
      <%= params[:status] %>

      <p class="description"><%= episode.description %></p>
      <br>
      <br>
    <% end %>
</div>
