<div class="col-md-4 about" id="content-container">
  <h3 class="title-spacing index-alignment"
      style="margin-bottom:45px;">ABOUT</h3>
  <p>
    Oakdrive is a podcast that illustrates the experience thru the personality via the sound.
    <br>
    <br>

    weilding a stoytelling based design, at it's core lies a unique candor that emanates from striking personalities
    of the everyday people. Coupled with the artistries of musicians/sound engineers alike
    a hint of gallows humor, Oakdrive is a preservation as well as a presentation of a culture
    that I am lucky enough to be a part of.
    <br>
    <br>
    It is my testament to the times, its changes and the constant ambiguity life offers up.
    If nothing else, let this work serve simply as an added tool to your arsenal.
  </p>
</div>
