<%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
<%= image_tag("Oakdrive_Logo.png", height: '180', alt: 'Site Logo', class: 'splash-logo') %>

  <%= image_tag("Oakdrive_Logo.png", height: '90', alt: 'Site Logo', class: "splash-bottom-logo") %>
  <div style="padding-bottom:-50px;" class="hidden-sm hidden-md hidden-lg hidden-xl"></div>
  <div class="splash-bottom-left">
    <p>MOSIAH RASHAAD</p>
    <p>OAKDRIVEPODCAST<br class="hidden-sm hidden-md hidden-lg hidden-xl">@GMAIL.COM</p>
  </div>

  <p class="splash-bottom-right">photo courtesy of of Helen Schmitz</p>
