@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Khula:400,800);
@font-face {
  font-family: "Kannada MN";
  src: url('/assets/KannadaMN.woff') format("truetype");

}


body {
  color: white;
  background-color: #231F20;
  font-family: 'Khula', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  padding:0px 30px 0px 30px;
}
h4 {
  color: #ffffff;
  font-size: 16px;

}

.episodes-container {
  padding-top: 150px;
  border-top: 4px solid white;
  margin-top: 50px;
}

.logo {

  padding-right: 28px;
  border-right: 4px solid #ffffff;
  height: 90px;

}

#content-container {
  margin-top: 100px;
}

.navbar {
  height: 100px;
  padding-top: 40px;
  border: 0px solid #231F20;
  background-color: #231F20;
}

.nav.navbar-nav.navbar-left {
  margin-top: -110px;
  margin-left: 125px;
  width: 800px;
}

.nav.navbar-nav.navbar-left li a {
  color: #ffffff;
  margin-right: 3px;


}

.nav.navbar-nav.navbar-left li {
  position: static;

}
//.nav.navbar-nav.navbar-left li a:hover {
//  color: grey;
//}

.title {
  border-bottom: 1px solid #ffffff;
  width: 200px;
  padding-bottom: 15px;
  margin-bottom: 18px;
}

.sidebar-section {
  margin-bottom: 80px;
  color: #ffffff;
}

.fa{
  padding-right: 5px;
}

.sidebar {
  width: 230px;
  margin-top: 0px;

}

.mobile-search {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

.container-fluid {
  max-width: 1200px;
}

#query {
  color: black;
  height: 27px;
  width: 200px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  margin-top: 10px;

}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="query"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: none;
  outline: 0 none;
  border-width: thin;
}
//-------player--------

a {
    text-decoration: none;
}

.jp-title {
    font-size: 12px;
    text-align: center;
    color: #999;
}

.jp-title ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jp-gui {
	position: relative;
	background: black;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);
  box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);
  border-radius: 3px;
	overflow: hidden;
	margin-top: 10px;

}

.jp-jplayer, .jp-audio {
    width: 300px;
    margin-bottom: 30px;
    position: relative;
}

.jp-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "FontAwesome";
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.jp-controls li {
    display: inline;
}

.jp-controls a {
    color: #fff;
}

.jp-play,.jp-pause {
    width: 45px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-right: 1px solid #d22f0f;
}

.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
    background-color: #de3918;
}

.jp-mute,.jp-unmute {
    position: absolute;
    right: 55px;
    top: 0;
    width: 20px;
    height: 40px;
    display: inline-block;
    line-height: 46px;
}

.jp-mute {
    text-align: left;
}

.jp-volume-bar {
    position: absolute;
    right: 10px;
    top: 17px;
    width: 45px;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    background-color: #992E18;
    overflow: hidden;
}

.jp-volume-bar-value {
    background-color: #fff;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
}

.jp-progress {
    background-color: #992E18;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    position: absolute;
    right: 133px;
    top: 15px;
    width: 110px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
}

.jp-play-bar {
    height: 12px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
}

.jp-time-holder {
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    right: 90px;
    top: 14px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}


//footer

#footer {
  padding-top: 40px;
  bottom: 0;
  border-top: 1px solid white;
  margin-bottom: 70px;
}

#footer-center {
  text-align: center;
  margin-top: -30px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
a:hover {
  text-decoration: none;
}


#next {
  margin-top: -30px;
  width: 60px;
  height: 20px;
  position: relative;
  right: 0;
  left: auto;
  color: white;
  margin-left: auto;
}
#prev {
  margin-top: -30px;
  text-align: left;
  position: relative;
  left: 0px;
  right: auto;
  width: 65px;
  color: white;


}

#published {
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  display: inline;

}

#season {
  width:150px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline;

}

#producer {
  width: 260px;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
//show page.
.show-title {
  margin-bottom: 30px;
}

.title-spacing {
  letter-spacing: 12px;
}



//index

@media (max-width: 48em){
  .index-alignment {
    text-align: center;
  }

  .jp-jplayer, .jp-audio {
      margin-left: auto;
      margin-right: auto;
    }

  .title {
    text-align: none;
  }

  #search {
    width: 240px;
  }

  .description-container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

}


//mobile

#social-mobile {
  border-bottom: 1px solid white;
  width: 230px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  padding-top: 5px;
}


//Dropdown menu
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 800;
  background-color: #231F20;
}

.dropdown-button-container{
  width: 100%;
}

.dropdown {
  display: inline-block;
  z-index: 800;
  margin: 0;
  background: yellow;
  position: absolute;
  left: 50%;
  top: 50px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #231F20;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 800;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 4px 3px 4px 3px rgba(0,0,0,.3);
  -moz-box-shadow:    4px 3px 4px 3px rgba(0,0,0,.3);
  box-shadow:         4px 3px 4px 3px rgba(0,0,0,.3);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li {
  list-style: none;

}

.dropdown-content a:hover {
  background-color: #ccc;
  z-index: 800;

}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 800;
}

.dropdown:hover .dropbtn {
  z-index: 800;
}

.icon-bar {
  background-color: white;
  height: 3px;
  width: 20px;
  margin: 3px;
}

.mobile-search i {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 14px;
  margin-right: 14px;
}

.description-container {

}
