// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.neg-margin {
  margin-top: -37px;
}

.recent-container {
  width: 100%;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.recent-spotlight {
  width: 100%;
  margin-top: 0px;
  vertical-align:top;
  display: inline-block;

}

.recent-spacing {
  margin: 0px 0px 40px 20px;
  display: inline-block;

}

.recent {
  width: 660px;
  text-align: right;
  display: inline-block;
  margin-top: -40px;
}


.recent-search{
  display: block;
  margin-left: auto;
  margin-right: 15px;
  right: 0;
}

.box2 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.most-recent-spacing {
  margin-bottom:30px;
  margin-top:-17px;
}

.ep {
  margin-top: 20px;
}

.mobile-recent-spacing {
  margin-top: 10px;
}

.mobile-recent-img {
  position: absolute;
  width:180px;
  height:180px;
  z-index:11;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}

.mobile-recent-img:hover {
  color: white;
  -webkit-transition: all .2s ease-in-out;

  background-color: rgba(35, 31, 32, 0.7);
}

.recent-title {
  margin-top: 41%;
  margin-bottom: auto;
}
